
  * {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root {
  --bg-day: #f5f6f7;
  --bg-night: #121826;
  --card-day: #fff;
  --card-night: #1d2535;
  --text-day: #222;
  --text-night: #eee;
  --blue: #007bff;
}

body {
  margin: 0;
 padding-top:30px;
  background-color: var(--bg-night);
  color: var(--text-night);
  transition: background 0.4s, color 0.4s;
}

[data-theme="day"] {
  background: var(--bg-day);
  color: var(--text-day);
}

.navbar-custom {
  background: linear-gradient(90deg, #34495e, #2c3e50);
 top:0;
 left:0;
 position:fixed;
 width:100%;
 z-index:1000;
  color: #fff;
  padding: 0.7rem 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.brand-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.search-field {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  outline: none;
}

.btn-myloc, .btn-city {
  background-color: var(--blue);
  border: none;
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.btn-myloc:hover, .btn-city:hover {
  background-color: #0056b3;
}

.weather-card {
  background: var(--card-night);
  color: var(--text-night);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}
[data-theme="day"] .weather-card {
  background: var(--card-day);
  color: var(--text-day);
}

.weather-card.show {
  opacity: 1;
  transform: translateY(0);
}

.section-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.pollutant-grid .item {
  background: rgba(255,255,255,0.05);
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

.now-temp {
  font-size: 2rem;
  font-weight: bold;
}

.forecast-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
}

.day-card {
  flex: 0 0 auto;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-width: 100px;
}

.hour-card {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  text-align: center;
  padding: 8px;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  background: #2c3e50;
  color: #fff;
  margin-top: 20px;
  border-top: 2px solid #007bff;
}

